# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase config files (caso tenha usado Firebase CLI)
.firebase/
.firebaserc

# Build outputs (caso use Vite, Next.js ou outros)
dist/
build/

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
